<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ResourceFilePath" value="D:\Proyectos Propios\Karla\Info\Calibraciones Abril.xlsx"/>
    <add key="ResultFilePath" value="Info\Resultado.xlsx"/>
    <add key="FirstColumn" value="A"/>
    <add key="LatestColumn" value="M"/>
  </appSettings>
</configuration>