<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ResourceFilePath" value="D:\Proyectos Propios\Proyecto-Karla\Info\Prueba.xlsx"/>
    <add key="ResultFilePath" value="Info\Resultado.xlsx"/>
    <add key="FirstColumn" value="A"/>
    <add key="LatestColumn" value="N"/>
    <add key="HorasDiarias" value="7.8"/>
    <add key="CantidadDiasDeLaSemana" value="5"/>
    <add key="SemanasDelMes" value="4.3"/>
  </appSettings>
</configuration>